extends base
block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet')
  script(src='https://js.stripe.com/v3/')

//-Renderizar los guides del tour
mixin guidesInfo(photo, role, name)
  div.overview-box__detail
    img.overview-box__img(src=`/img/users/${photo}`, alt=`${role}`)
    span.overview-box__label #{role.split("-").join(" ")}
    span.overview-box__text #{name}

//-Renderizar los reviews del tour
mixin renderReviews(review, rating, author)
  div.reviews__card
    div.reviews__avatar
      img.reviews__avatar-img(src=`/img/users/${author.photo}`, alt=`${author.name}`)
      h6.reviews__user #{author.name}
    p.reviews__text #{review}
    div.reviews__rating
      each star in [1,2,3,4,5]
        svg.reviews__star(class=`reviews__star--${rating >= star ? "active" : "inactive"}`)
          use(xlink:href='/img/icons.svg#icon-star')

//-Renderizar toda la información del tour
block content
  section.section-header
    div.header__hero
      div.header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    div.heading-box
      h1.heading-primary
        span #{tour.name} tour
      div.heading-box__group
        div.heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text #{tour.duration} days
        div.heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text #{tour.startLocation.description}

  section.section-description
    div.overview-box
      div
        div.overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts
          div.overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-calendar')
            span.overview-box__label Next date
            span.overview-box__text #{tour.startDates[0].toLocaleString("en-us", {month: "long", year: "numeric"})}
          div.overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-trending-up')
            span.overview-box__label Difficulty
            span.overview-box__text #{tour.difficulty}
          div.overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-user')
            span.overview-box__label Participants
            span.overview-box__text #{tour.maxGroupSize} people
          div.overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-star')
            span.overview-box__label Rating
            span.overview-box__text #{tour.ratingsAverage.toFixed(1)} / 5

        div.overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides
          each guide in tour.guides
            +guidesInfo(guide.photo, guide.role, guide.name)

    div.description-box
      h2.heading-secondary.ma-bt-lg About #{tour.name} tour
      - const descriptionsArray = tour.description.split("\n")
      each paragraph in descriptionsArray
        p.description__text #{paragraph}

  section.section-pictures
    each image in tour.images
      div.picture-box
        img(class=`picture-box__img picture-box__img--${tour.images.indexOf(image) + 1}` src=`/img/tours/${image}`, alt=`${image}`)

  section.section-map
    #map(data-locations=`${JSON.stringify(tour.locations)}`)

  section.section-reviews
    div.reviews    
      each review in tour.reviews
        +renderReviews(review.review, review.rating, review.author)

  section.section-cta
    div.cta
      div.cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='Natours logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[0]}`, alt=`${tour.name} picture 1`)
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[1]}`, alt=`${tour.name} picture 2`)
      div.cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text #{tour.duration} days. 1 adventure. Infinite memories. Make it yours today!

        if user
          button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}` data-user-id=`${user.id}`) Book tour now!
        else
          a.btn.btn--green.span-all-rows(href="/login") Log in to book tour